/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid darkgrey;
}

nav>ul{
	list-style-type: none;
}

nav .nav,nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	padding: 5px;
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer{
	background-color: hsl(210, 100%, 20%);
}

/*Pre Footer*/
#pre-footer>div{
	display: inline-block;
	vertical-align: top;
	color: white;
	width: 15%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 200px;
	margin-right: 5%;
	margin-left: 25px;
	line-height: 2;

/*Footer*/
}

footer{
	padding: 1rem;
}

footer>span{
	margin: 0px 10px;
}